
<nav class="col s12">
  <div class="row">
    <div>
      <ul class="nav nav-pills nav-cust valign-wrapper">
        <li class="col s4"><h5>The Hype Machine</h5></li>
        <li class="col s2 center-align">Total Tweets filtered: </li>
        <li class="col s2 center-align"><a href="#">about</a></li>
        <li class="col s3"><img class="col s2 col-centered" src="/images/IBM_Watson_avatar_pos-2-1000x986.png" alt="Watson logo"><img class="col s2 col-centered" src="/images/opengraph.png" alt="btc logo"><img class="col s2 col-centered" src="/images/Twitter-PNG-HD-1.png" alt="Twitter logo"></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <p>An API agrigator that filters tweets from influential bitcoin accounts through IBM's Watson AI using sentiment analysis.
  </p>
  <div class="row">
  <div class=" col s12">
    <div class="col s5">
      <div class="col s12 twitt-scroller">
        {{> tweet}}
      </div>
    </div>

    <div class="col s7 graph ">
      <!-- <div class="btcwdgt-chart" bw-theme="light"></div> -->
      <!-- <canvas id="btc-price-chart" width="350" height="300"></canvas> -->
      <canvas id="wats-score-chart" width="350" height="300"></canvas>
    </div>
  </div>
  </div>
</div>

<script>
  window.graphTweets = {{{json graphFinalTweets}}};
  window.btcPrices = {{{json btcPrices}}};
</script>
