
html {
  font-size: 16px;
}

.tweet-box p {
  font-size: .8rem;
}
.nav-cust {
  padding:1px;
  margin-bottom: 2rem;
}

.heading-descriptor-text {
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.heading-descriptor-text img {
  width:5rem;
  height:5rem;
  margin: 0 .5rem 2rem .5rem;
  padding: 0;

}
.watson-total{
  text-align: center;
 }

.twitt-scroller, .tweet-box, .watson-total{
  border: 1px solid grey;
  border-radius: 10px;

}

.twitt-scroller {
  margin-top: 2rem;
}


.tweet-loading-graphic {
  display: block;

}

.tweet-loading-graphic > * {
  margin-top: .75rem;

}

.tweet-loading-graphic q {
  margin-bottom: 2rem;
}

.tweet-loading-graphic img {
  width:3rem;
  height:3rem;
  padding: 0;
}
.col-centered {
  float: none;
  margin: 0 auto;
}


#loader-circle {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.twitt-scroller, .tweet-box, .sentiment {
  padding: 0rem;

}

.pre-scrollable {
  max-height: 70rem;
}

.twitt-scroller {
  overflow-y: scroll;
  !height: 70rem;
  margin-bottom: 5rem;
}

.img-tweet-prof {
    width: 4rem !important;
}

.img-float-text-wrap {
  float: left;
  margin:.3rem;
  height: 2rem;
  width: 2rem;
}

.turn-off-padding {
  padding: 0;
}

.tweet-text {
  font-size: .9rem;
}

.tweet-box {
  padding: .3rem .2rem .3rem .2rem;
  border-radius: 10px;
  margin-top: .4rem;
}

.positive {
  background-color: rgba(0,106,226,0.2);
}

.negative {
  background-color: rgba(255,99,132,0.2);
}

.neutral {
  background-color: rgba(220,220,220,0.3);
}

#total-tweets-pulled {
  display: none;
}
