
html {
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

@media only screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media only screen and (min-width: 993px)
  .container {
    width: 70%;
}

.nav-cust {
  padding:1px;
  margin-bottom: 2rem;
}

.heading-descriptor-text {
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.heading-descriptor-text img {
  width:5rem;
  height:5rem;
  margin: 0 .5rem 2rem .5rem;
  padding: 0;

}

.pre-scrollable {
  max-height: 70rem;
}

.twitt-scroller {
  overflow-y: scroll;
  height: 75vh;
  margin-bottom: 5rem;
}

.img-tweet-prof {
    width: 4rem !important;
}

.img-float-text-wrap {
  float: left;
  margin:.3rem;
  height: 2rem;
  width: 2rem;
}

.turn-off-padding {
  padding: 0;
}

.tweet-text {
  font-size: .9rem;
}

.tweet-box {
  padding: .3rem .2rem .3rem .2rem;
  border-radius: 10px;
  margin-top: .4rem;
}

.positive {
  background-color: rgba(0,106,226,0.2);
}

.negative {
  background-color: rgba(255,99,132,0.2);
}

.neutral {
  background-color: rgba(220,220,220,0.3);
}

#total-tweets-pulled {
  display: none;
}
